<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Wellcome to my website!</h1>
<ul>
    <li><a href="/note">Thì hiện tại đơn</a></li>
    <li><a href="/note">Thì quá khứ đơn</a></li>
    <li><a href="/note">Thì tương lai đơn</a></li>
    <li><a href="/note">Thì hiện tại hoàn thành</a></li>
    <li><a href="/note">Thì quá khứ hoàn thành</a></li>
    <li><a href="/note">Thì tương lai hoàn thành</a></li>
    <li><a href="/note">Thì hiện tại tiếp diễn</a></li>
    <li><a href="/note">Thì quá khứ tiếp diễn</a></li>
    <li><a href="/note">Thì tương lai tiếp diễn</a></li>
</ul>
</body>
</html>
