<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ngữ pháp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script>
        async function handleGramar() {
            const sentence = document.getElementById("text-input").value.trim();
            if (!sentence) {
                alert("Vui lòng nhập câu!");
                return;
            }

            console.log("Gửi câu:", sentence);
            document.getElementById("result").innerText = "Đang kiểm tra...";

            try {
                const response = await fetch("/api/gramar", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({sentence: sentence})
                });

                if (!response.ok) {
                    throw new Error("Lỗi server");
                }

                const reader = response.body.getReader();
                const decoder = new TextDecoder();
                let resultText = "";

                while (true) {
                    const {done, value} = await reader.read();
                    if (done) break;

                    const chunk = decoder.decode(value, {stream: true});
                    resultText += chunk;
                    document.getElementById("result").innerText = resultText;
                }

                console.log("Phản hồi hoàn tất:", resultText);
            } catch (error) {
                console.error("Lỗi:", error);
            }
        }
    </script>

</head>
<body>
<h1>Nhập từ bạn muốn note lại</h1>
<div>
    <input class="input-text" id="word" placeholder="Nhập từ tiếng anh ...">
</div>
<div>

    <ul>
        <li th:each="topic : ${topics}"
            th:text="${topic}"
            th:attr="onclick='window.location.href=\'/vocab?topic=' + @{${topic}} + '\''">
        </li>
    </ul>

    <select class="select-input">
        <option class="select-option" th:each="lexical : ${lexicalCategory}"
        th:text="${lexical}"
        th:value="${lexical}"></option>
    </select>
</div>
<div>
    <input class="input-text" id="meaning" placeholder="Nhập nghĩa của từ ...">
</div>
<br>
<p id="result" class="mt-3"
   style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; width: 100%;">
</p>

<button style="margin-top: 10px; padding: 10px 15px; font-size: 16px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;"
        onclick="handleGramar()">
    Lưu
</button>

</body>
</html>
